/* ul {
            list-style-type: none;
        }

        li::before {
            content: '- ';
        }

        .name {
            display: inline-block;
            width: 80px;
            background-color: yellow;
        } */

/* table {
            width: 200px;
            height: 120px;
        }
        th {
            background-color: silver;
        }
        td {
            background-color: yellow;
            text-align: right;
        } */

table>thead>tr:nth-child(1) {
    background-color: gray;
    color: yellow;
}

table>tbody>tr:nth-child(2n+1) {
    background-color: silver;
}

td.pass {
    color: blue;
}

td.fail {
    color: red;
}